@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 70, 70);
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: whitesmoke;
    align-items: center;
}

nav ul li {
    padding: 12px;
    cursor: pointer;
}

.brand img {
    height: 50px;
    width: auto;
    padding: 0px 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 63vh;
    background-color: rgb(242, 218, 218);
    font-family: 'Lora', serif; 
    color: rgb(1, 1, 4);
    display: flex;
    margin: 23px auto;
    width: 90%; /* Adjusted width for mobile */
    border-radius: 14px;
    padding: 10px; /* Adjusted padding for mobile */
    background-image: url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(50, 58, 124);
}

.bottom {
    background-color: whitesmoke;
    height: 100px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: rgb(237, 234, 234);
    margin: 12px 0; /* Adjusted margin for mobile */
    border-radius: 34px;
    justify-content: center;
    align-items: center;
}

.songItem img {
    width: 58px;
    margin: 0 10px; /* Adjusted margin for mobile */
}

.timestamp {
    margin: 0 10px; /* Adjusted margin for mobile */
}

.songItem i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 5vw; /* Adjusted left position for mobile */
    font-family: 'Lora', serif; 
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.8s ease-in;
}

#masterPlay {
    cursor: pointer;
}

/* Media Query for mobile devices */
@media only screen and (max-width: 768px) {
    nav ul li {
        padding: 8px;
    }
    .brand {
        font-size: 1rem;
    }
    .container {
        width: 100%;
        padding: 10px;
    }
    .songInfo {
        left: 0;
    }
}
